@font-face {
    font-family: 'Righteous';
    src: url('../font/Righteous-Regular.woff2') format('woff2'),
        url('../font/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}